@font-face {
  font-family: 'PT_Sans';
  src: url(./fonts/ptsans_regular.woff2) format('woff2');
}
@font-face {
  font-family: 'PT_Sans';
  src: url(./fonts/ptsans_bolditalic.woff2) format('woff2');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'PT_Sans';
  src: url(./fonts/ptsans_bold.woff2) format('woff2');
  font-weight: bold;
}
@font-face {
  font-family: 'PT_Sans';
  src: url(./fonts/ptsans_italic.woff2) format('woff2');
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'PT_Sans';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  margin: 0;
}

ul {
  text-align: left;
  padding-top: 1em;
}

body {
  background-color: #1b262c;
}

.carousel .slide {
  background-color: #1b262c;
}

.Slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  -webkit-perspective: 300vw;
        perspective: 300vw;
}
.Slide-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: #fff;
  width: 100%;
  padding: 1em;
  /* overflow-y: auto; */
  border: 0;
  -webkit-overflow-scrolling: touch;
  width: calc(100% - 4rem);
  margin: 2rem 0;
  border-radius: 10px;
  cursor: pointer;

  position: relative;
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  transition: transform .7s;
  transition: transform .7s,-webkit-transform .7s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.Slide-content.is-flipped {
  -webkit-transform: rotateY(180deg) translateZ(0);
  transform: rotateY(180deg) translateZ(0);
}
.Card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,.5);
  padding: 2em;
  line-height: 1.1;
}
.Card--front {
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0,0,0,.5);
  font-size: 1.75em;
  overflow: hidden;
  background-color: #3282b8;
}
.Card--front::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .4;
  background-color: #3282b8;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23ffffff' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
}
.Card--front::after {
  content: '';
  position: absolute;
  top: -2.5em;
  left: -2.5em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: #0f4c75;
  z-index: -1;
  opacity: .8;
}
.Card--back {
  color: #3282b8;
  font-size: 1.25em;
  -webkit-transform: translateZ(0) rotateY(180deg);
  transform: translateZ(0) rotateY(180deg);
  background-color: #fff;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  justify-content: flex-start;
}
.Card-reshuffleBtn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: #fff;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  padding: 0;
  font: inherit;
}
.Card-reshuffleIcon {
  width: 50%;
  height: 50%;
  fill: #3282b8;
}
.Card-reshuffleBtn:hover,
.Card-reshuffleBtn:focus {
  background-color: #1b262c;
}
.Card-reshuffleBtn:focus {
  outline: 0;
}
.Card-reshuffleBtn:hover .Card-reshuffleIcon,
.Card-reshuffleBtn:focus .Card-reshuffleIcon {
  fill: #fff;
}
.Card-num {
  position: absolute;
  top: 8px;
  left: 0px;
  width: 55px;
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
}
pre {
  border-radius: 5px;
  padding: 15px !important;
  max-width: 100%;
  overflow-x: visible !important;
}
/* .Slide-button {
  height: 100px;
  width: 100%;
  border: 0;
  background-color: #bbe1fa;
  color: #102E40;
  -webkit-appearance: none;
  appearance: none;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  transition: background-color .25s;
  cursor: pointer;
} */
.Slide-content--answer {
  /* background-color: #3282b8; */
}
.Slide-content:focus {
  outline: 0;
  -webkit-highlight-color: none;
  -webkit-tap-highlight-color: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* PrismJS 1.19.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

 code[class*="language-"],
 pre[class*="language-"] {
   color: black;
   background: none;
   text-shadow: 0 1px white;
   font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   font-size: 1em;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
 
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
 
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }
 
 pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
 code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
   text-shadow: none;
   background: #b3d4fc;
 }
 
 pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
 code[class*="language-"]::selection, code[class*="language-"] ::selection {
   text-shadow: none;
   background: #b3d4fc;
 }
 
 @media print {
   code[class*="language-"],
   pre[class*="language-"] {
     text-shadow: none;
   }
 }
 
 /* Code blocks */
 pre[class*="language-"] {
   padding: 1em;
   margin: .5em 0;
   overflow: auto;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
   background: #f5f2f0;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
   white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: slategray;
 }
 
 .token.punctuation {
   color: #999;
 }
 
 .token.namespace {
   opacity: .7;
 }
 
 .token.property,
 .token.tag,
 .token.boolean,
 .token.number,
 .token.constant,
 .token.symbol,
 .token.deleted {
   color: #905;
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
   color: #690;
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string {
   color: #9a6e3a;
   background: hsla(0, 0%, 100%, .5);
 }
 
 .token.atrule,
 .token.attr-value,
 .token.keyword {
   color: #07a;
 }
 
 .token.function,
 .token.class-name {
   color: #DD4A68;
 }
 
 .token.regex,
 .token.important,
 .token.variable {
   color: #e90;
 }
 
 .token.important,
 .token.bold {
   font-weight: bold;
 }
 .token.italic {
   font-style: italic;
 }
 
 .token.entity {
   cursor: help;
 }
 
 