.Slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  -webkit-perspective: 300vw;
  perspective: 300vw;
  background-color: #1b262c;
}
.Card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: #fff;
  width: 100%;
  padding: 1em;
  border: 0;
  -webkit-overflow-scrolling: touch;
  width: calc(100% - 4rem);
  margin: 2rem 0;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform .7s;
  transition: -webkit-transform .7s;
  transition: transform .7s;
  transition: transform .7s,-webkit-transform .7s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.is-flipped .Card {
  -webkit-transform: rotateY(180deg) translateZ(0);
  transform: rotateY(180deg) translateZ(0);
}
.Card-front,
.Card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,.5);
  padding: 2em;
  line-height: 1.1;
}
.Card-front {
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0,0,0,.5);
  font-size: 1.75em;
  overflow: hidden;
  background-color: #3282b8;
}
.Card-front::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .4;
  background-color: #3282b8;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23ffffff' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
}
.Card-front:not(.Card-front--noNumbers)::after {
  content: '';
  position: absolute;
  top: -2.5em;
  left: -2.5em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: #0f4c75;
  z-index: -1;
  opacity: .8;
}
.Card-back {
  color: #3282b8;
  font-size: 1.25em;
  -webkit-transform: translateZ(0) rotateY(180deg);
  transform: translateZ(0) rotateY(180deg);
  background-color: #fff;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  justify-content: flex-start;
  text-align: left;
  line-height: normal;
  color: #1b262c;
  align-items: flex-start;
  font-size: 1rem;
}
@media (orientation: landscape) {
  .Card-back {
    padding: 2em 4em;
  }
}
.Card-back a {
  color: #165783;
  font-weight: bold;
}
.Card-backInner {
  max-width: 1200px;
  margin: 0 auto;
}
.Card-reshuffleBtn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgba(15,76,117, .8);
  border-radius: 50%;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  padding: 0;
  font: inherit;
}
.Card-reshuffleIcon {
  width: 80%;
  height: 80%;
  fill: #fff;
}
.Card-reshuffleBtn:hover,
.Card-reshuffleBtn:focus {
  background-color: #fff;
}
.Card-reshuffleBtn:focus {
  outline: 0;
}
.Card-reshuffleBtn:hover .Card-reshuffleIcon,
.Card-reshuffleBtn:focus .Card-reshuffleIcon {
  fill: #3282b8;
}
.Card-reshuffleNum {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .5em;
  text-align: center;
  color: #fff;
}
.Card-reshuffleBtn:hover .Card-reshuffleNum,
.Card-reshuffleBtn:focus .Card-reshuffleNum {
  color: #3282b8
}
.Card-num {
  position: absolute;
  top: 13px;
  left: 2px;
  width: 55px;
  text-align: center;
  font-weight: bold;
  font-size: .8em;
  letter-spacing: .02em;
}
.Card-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 3rem;
  background: 0;
  border: 0;
  font: inherit;
  padding: 0;
  opacity: 0;
  transition: opacity 0s;
  pointer-events: none;
  transform: translateZ(0);
}
.Card-icon--left {
  left: 3rem;
  fill: #fd5e53;
}
.Card-icon--right {
  right: 3rem;
  width: 35px;
  height: 31px;
  fill: #21bf73;
}
.Card-refreshBtn {
  background: rgba(15,76,117, .8);
  color: #fff;
  border: 0;
  border-radius: 10px;
  padding: 1em;
  font: inherit;
}
.is-flipped .Card-icon {
  opacity: 1;
  transition: opacity .3s .7s;
  pointer-events: all;
}
.Card-front code {
  background: rgba(255,255,255,.9);
  color: #3282b8;
  text-shadow: none;
}
.Card:focus {
  outline: 0;
  -webkit-highlight-color: none;
  -webkit-tap-highlight-color: none;
}